<!DOCTYPE html>
<html> 

<head>
    <%- include("../partials/head.ejs") %>
</head>


<body>
   <h1>DOCKET</h1>
<div class="tdl-container">
<ul>
    <% notes.forEach(note => { %>
            <div class="tdl checkbox">
            <input type="checkbox" class="radio_item_menu"> <span class="item"><%=note.item%></span>
            </div>
            <div class="tdl del"> 
                <form action="/notes/<%=note._id %>?_method=DELETE" method="POST">
                    <input type="submit" value="DELETE" />
                </form>
            </div>    

            <div class="tdl edit">
                <form id="edit" action="/notes/<%= note._id %>?_method=PUT" method="POST">
                    <input type="text" name="item" value="<%= note.item%>">
                    <input type="submit" value="Save" />
                </form>
            </div>
            <br />
    <%  }) %>
   
</ul>
</div>
    <div class="tdl-create">
        <form action="/notes" method="POST">
            <input type="text" name="item" placeholder="Write new item and hit 'Enter'">
            <input type="submit" value="+" />
        </form>
    </div>






</body>

</html>
